In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import os
import glob

/var/folders/3c/4gzhk1ts4_s0y0gybcj7jjjr0000gn/T/ipykernel_35103/926392448.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [31]:
file = "../test_data/soccer_test.csv"
data = pd.read_csv(file, header=None)
data = data.drop([0, 1, 2, 3])

# Reset the indices and remove the wrong one
data = data.reset_index()
data = data.iloc[:,2:]

data = data.astype(float)
data.head()

,1,2,3,4,5,6,7,8,9,10,...,83,84,85,86,87,88,89,90,91,92
0,39.0,801.00,1051.00,39.0,39.0,1464.0,1080.000000,39.0,39.0,1920.00,...,1364.000000,39.0,39.0,2537.000000,1146.000000,39.0,10.00,1916.00,1073.00,10.00
1,39.0,801.75,1052.25,39.0,39.0,1464.0,1079.692308,39.0,39.0,1917.25,...,1363.975610,39.0,39.0,2536.857143,1145.714286,39.0,9.75,1910.75,1073.75,9.75
2,39.0,802.50,1053.50,39.0,39.0,1464.0,1079.384615,39.0,39.0,1914.50,...,1363.951220,39.0,39.0,2536.714286,1145.428571,39.0,9.50,1905.50,1074.50,9.50
3,39.0,803.25,1054.75,39.0,39.0,1464.0,1079.076923,39.0,39.0,1911.75,...,1363.926829,39.0,39.0,2536.571429,1145.142857,39.0,9.25,1900.25,1075.25,9.25
4,39.0,804.00,1056.00,39.0,39.0,1464.0,1078.769231,39.0,39.0,1909.00,...,1363.902439,39.0,39.0,2536.428571,1144.857143,39.0,9.00,1895.00,1076.00,9.00

In [32]:
# Converting bounding box coordinates into xy coordinates
num_columns = len(data.columns)
group_size = 4
num_players = num_columns // group_size

for i in range(num_players):
    group_columns = data.iloc[:, i*group_size:(i+1)*group_size]
    result_column_name = f'player_{i}_x'
    data[result_column_name] = group_columns.iloc[:,1] + group_columns.iloc[:,3] / 2
    result_column_name = f'player_{i}_y'
    data[result_column_name] = group_columns.iloc[:,2] + group_columns.iloc[:,0] / 2

# Correcting the final coordinates as the ball coordinates
data = data.rename({'player_22_x':'ball_x', 'player_22_y':'ball_y'}, axis = 1)

# # Remove the redundant bbox coordinates
data = data.iloc[:,-46:]

# Impute the missing values
data = data.interpolate(method='index')

data.head()

,player_0_x,player_0_y,player_1_x,player_1_y,player_2_x,player_2_y,player_3_x,player_3_y,player_4_x,player_4_y,...,player_18_x,player_18_y,player_19_x,player_19_y,player_20_x,player_20_y,player_21_x,player_21_y,ball_x,ball_y
0,820.50,1070.50,1483.5,1099.500000,1939.50,1079.5,1907.5,532.50,1586.5,1404.5,...,2331.5,531.5,1931.500,1335.500,2271.5,1383.500000,2556.500000,1165.500000,1921.000,1078.000
1,821.25,1071.75,1483.5,1099.192308,1936.75,1080.5,1909.5,532.25,1588.0,1404.5,...,2331.5,531.1,1931.375,1335.125,2271.5,1383.475610,2556.357143,1165.214286,1915.625,1078.625
2,822.00,1073.00,1483.5,1098.884615,1934.00,1081.5,1911.5,532.00,1589.5,1404.5,...,2331.5,530.7,1931.250,1334.750,2271.5,1383.451220,2556.214286,1164.928571,1910.250,1079.250
3,822.75,1074.25,1483.5,1098.576923,1931.25,1082.5,1913.5,531.75,1591.0,1404.5,...,2331.5,530.3,1931.125,1334.375,2271.5,1383.426829,2556.071429,1164.642857,1904.875,1079.875
4,823.50,1075.50,1483.5,1098.269231,1928.50,1083.5,1915.5,531.50,1592.5,1404.5,...,2331.5,529.9,1931.000,1334.000,2271.5,1383.402439,2555.928571,1164.357143,1899.500,1080.500